@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --primary-color: darkcyan;
    --primary-color-darker: rgb(0, 92, 92);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family:'Open Sans', sans-serif;
}

.container {
    background-color: white;
    max-width: 640px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
}

.container #result .result-paragraph {
    padding: 10px 20px;
}

.container #result .valid-result {
    background-color: rgb(106, 255, 138);
}

.container #result .invalid-result {
    background-color: rgb(255, 106, 106);
}

.container .table {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 450px;
}

.container .table div p {
    margin: 10px 0;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor:pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-darker);
}