@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --primary-color: darkcyan;
    --primary-color-darker: rgb(0, 92, 92);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family:'Open Sans', sans-serif;
}

.container {
    background-color: white;
    max-width: 640px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor:pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

.error-text {
    font-size: 12px;
    color: red;
}