<%- include('includes/head'); %>

<section class="container">
    <h1>Lorem ipsum</h1>
    <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label>Client</label>
        <input type="text" name="client">
        <button>Submit</button>
    </form>
</section>

<%- include('includes/footer'); %>